:root {
  --primary: #5310f0;
  --dark: #b4b8ef;
  --light: #c1ccf2;
}

body {
  margin: 0;
  background: var(--light);
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background: var(--dark);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  cursor: pointer;
  color: var(--primary);
}

nav button {
  background: none;
  border: none;
  color: white;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s;
}

nav button:hover {
  color: var(--primary);
}

.container {
  padding: 30px 5%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 20px;
}

.card {
  background: rgb(143, 179, 238);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: rgb(6, 6, 6);
}

button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.call-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #8c6bf0;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.admin-page input,
select {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-order,
.order-item {
  background: rgb(213, 231, 249);
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  background: rgb(248, 242, 242);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}
